<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questsDao" class="ru.otus.spring.dao.QuestsDaoSimple">
    </bean>
    <bean id="questsService" class="ru.otus.spring.service.QuestsServiceImpl">
        <constructor-arg name="dao" ref="questsDao"/>
    </bean>

</beans>
